.Navbar{
    height: 500px;
    width: 140px;
    display: inline-block;
    padding: 0px;
    color: white;
   }
   .NavbarContent{
       button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
           background-color: black;
           color: white;
           border:0;
           margin: 0;
           width: 100%
       }
       display: flex;
       .All{
           p{
            height:  20px;
            margin: 4px 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    }} 
       .Filters{
           background-color: white
       }
       div{
        background-color: black;
        width: 100%;   
        margin: 10px 0px;
        div{
            margin: 10 0px;
            background-color: black;
        }
       }
       flex-direction: column;
    height: 80px;
}
.User{
    height: 80px;

}
   
   .Todo{
    width: 900px;
    height: 500px;
    position: absolute;
    display: inline-block;
    margin: 0px;
}
h1{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.Add{
    border-color: white;
    background-color: black;
    color:white;
    display: inline;
    margin-left: 10px;
}
button:hover{
 opacity: 0.6;

}
button{
font-family: inherit;
border-width: 2px;
border-style: double;
border-color: white;
margin: 5px;
width: 70px;

}
li{
    font-family: Arial, Helvetica, sans-serif;
    div{
            display: inline-block;
            width: 100px
       }
 list-style-type: none
}
.Delete{
    background-color: red;
    color:white;
    height: 20px;
    margin-left: 10px;
}

ul{
    display: flex;
    flex-direction: column;
   
}
.Done{
    background-color: green;
    color: white
}
.Todocontent{
    margin: 100px
}

.User{
    h5{
       margin:20px;
       font-size: 10px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
    }
    h6{
        margin:15px;
        font-size: 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
     }
}
.Filters{
 
    display: flex;
    flex-direction: column;
    p{ 
        height:  20px;
        margin: 4px 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    }
}


.allTodos{
    .donesTodos{
        display: flex;
        flex-direction: column;
        button{
            width: 50px;
        }
    }
    .deletedTodos{
text-decoration: line-through;
    }
}

.MuiChip-clickable {    background-color: green !important;
    color: white !important;
    margin: 10px;
    width: 200px;
    overflow:auto;
}